* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  position: relative;
}

.background-image {
  background-image: url("./hacking.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.button {
  padding: 8px 17px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  margin: 10px;

  width: 200px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #2d2d2d;
  color: #ffffff;
}

.download-button {
  background-color: #1f1f1f;
  color: #ffffff;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .button {
    margin: 10px 0;
  }
}
